* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.cardHighlight {

	min-height: 100%;

}

body.bg-dark {
	background-color: #000000!important;
	margin-bottom: 100px;
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);

}



.jumbotron {
	background-repeat: no-repeat, repeat;
	background-position: center;
	background-size: cover;
	padding-top: 50px;
	font-weight: bold;
	margin-top: 100px;
	padding: 100px;
	border-radius: 50px;
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.color-nav {
	background-color: #fc5a8d;
}

img {
	height:400px ;
}

